router id 192.168.42.1;

protocol kernel {
        scan time 60;
        import none;
        export none;
}

protocol device {
        scan time 60;
}

protocol static static_bgp {
        include "list.txt";
}

protocol bgp RussiaHomeRouter {
        description "Distribute Russia IP subnets to my Home Router";
        neighbor 192.168.42.10 as 64666;
        import none;
        export where proto = "static_bgp";
        next hop self;
        local as 64666;
        source address 192.168.42.1;
        passive off;
}