{
    "Sources": [
        {
            "Name" : "RIPE",
            "Address" : "ftp://ftp.ripe.net/ripe/stats/delegated-ripencc-latest"
        },
        {
            "Name" : "ARIN",
            "Address" : "ftp://ftp.arin.net/pub/stats/arin/delegated-arin-extended-latest"
        },
        {
            "Name" : "AfriNIC",
            "Address" : "ftp://ftp.afrinic.net/pub/stats/afrinic/delegated-afrinic-latest"
        },
        {
            "Name" : "APNIC",
            "Address" : "ftp://ftp.apnic.net/pub/stats/apnic/delegated-apnic-latest"
        },
        {
            "Name" : "LACNIC",
            "Address" : "ftp://ftp.lacnic.net/pub/stats/lacnic/delegated-lacnic-latest"
        }
    ],
    "Countries"  : [
        "RU"
    ],
    "EnableIPv4" : true,
    "AppendIPv4" : [],
    "OutputFileipv4" : "/etc/bird/list.txt",
    "EnableIPv6" : false,
    "AppendIPv6" : [],
    "OutputFileipv6" : "/etc/bird/list6.txt",
    "SummarizeNetworks" : true,
    "SummarizeOutput" : false,
    "SummarizeOutputFile" : "/etc/bird/listall.txt",
    "OutputFormat" : "route {0} reject;"
}